.container {
  width: 95%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1a1a1a;
}

h1 {
  margin: 40px 0px 0px 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #fec417;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.tagline{
  text-align: center;
  color: #EEEEEE;
}

.btn {

  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  background: #ff7913;
  padding: 10px 30px;
  border:0px;
  
}
.btn:hover {
  background: #262626;
  cursor: pointer;
}

.center {
  text-align: center;
  align-items: center;
}